body {
    margin: 0;
    padding: 0;
    background: #3c3c3c;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


.box-login  {
    flex-shrink: 0;         /* Par défaut : 1 (ca les fait rétrécir si plus de place */
    background: #fff;
    border-radius: 5px;
}


h2 {
    text-align: center;
}


.form-groupe {
    position: relative;
}


 label {
    margin: 5px 23px;
    font-size: 20px;
    padding: 10px 0 5px 0;
    display: block;
    position: relative;

} 